html {
  background-color: whitesmoke; 
}

.display {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: darkslategray;
}

.operator {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: firebrick;
}

.container {
	height: 200px;
}

.result {
	background-color: dimgray;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: whitesmoke;
	width: 100%;
}

.calcBody {
    position: absolute;
    top: 230px;
    width: 400px;
    left: 620px;
}